@model MvcApp2.Models.FormModel

@{
    ViewData["Title"] = "Form";
    string forName = "";
    if (Model.iloscPowtorzen <= 5 && Model.iloscPowtorzen >= 1)
    {
        for (int i = 1; i <= Model.iloscPowtorzen; i++)
        {
            forName += Model.Name + " ";
        }
    }else
    {
        forName = "Podaj wartość z zakresu 1-5";
    }
}


<div style="text-align:center;">
    <h3>Dane z formularza</h3>
    <div style="text-align:left;">
        @Html.DisplayNameFor(model => model.Name):          @Html.DisplayFor(model => model.Name)
        <br />
        <label>Pętla: </label> @forName
        <br />
       
    </div>
</div>

<br />
<a href="/form.html">Powrót do Form (HTML)</a>

